<html>
<head>
    <meta property="og:title"
          content="Tap Top Color Dot" />

    <% if(params.score) { %>
    <meta property="og:description"
          content="I have a new highscore in Tap Top Color Dot. It is a cool game. Play with me. Available at iTunes and Google Play." />
    <% } else { %>
    <meta property="og:description"
          content="I enjoy a new game Tap Top Color Dot. Let's play together. Download for free from iTunes or Google Play." />
    <% } %>

    <meta property="og:image"
          content="<%= fullUrl %>image.png" />
</head><body>
Facebook Info
</body>
</html>